<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, This is SNO<br />
        by Wilmer and Alana</h1>
        <p> </p>
      </header>
      <p>SNO stands for sleep and obesity. This website will show cause and effect for both these topics. However, the main focus, the correlation between the two will be on its own separate section in order to emphasize their association with each other.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/homepage.jpg" alt="" />
    </span>
  </section>
