<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '' | absolute_url }}">Homepage</a></li>
            <li>
              <span class="opener">Sleep Deprivation</span>
              <ul>
                <li><a href="{{ 'the_basics' | absolute_url }}">The Basics</a></li>
                <li><a href="{{ 'diagnosis' | absolute_url }}">Diagnosis</a></li>
                <li><a href="{{ 'cause_and_effect' | absolute_url }}">Cause & Effect</a></li>
                <li><a href="{{ 'solution' | absolute_url }}">Solution</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Obesity</span>
              <ul>
                <li><a href="{{ 'trends' | absolute_url }}">Trends</a></li>
                <li><a href="{{ 'causes' | absolute_url }}">Causes</a></li>
                <li><a href="{{ 'complications' | absolute_url }}">Complications</a></li>
                <li><a href="{{ 'prevention' | absolute_url }}">Prevention</a></li>
                
              </ul>
            </li>
            <li><a href="{{ 'sleep_obesity' | absolute_url }}">Sleep + Obesity</a></li>
            <li><a href="{{ 'about_us' | absolute_url }}">About Us</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <!--<section>-->
        <!--  <header class="major">-->
        <!--    <h2>Ante interdum</h2>-->
        <!--  </header>-->
        <!--  <div class="mini-posts">-->
        <!--    <article>-->
        <!--      <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>-->
        <!--      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
        <!--    </article>-->
        <!--    <article>-->
        <!--      <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>-->
        <!--      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
        <!--    </article>-->
        <!--    <article>-->
        <!--      <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>-->
        <!--      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
        <!--    </article>-->
        <!--  </div>-->
        <!--  <ul class="actions">-->
        <!--    <li><a href="#" class="button">More</a></li>-->
        <!--  </ul>-->
        <!--</section>-->

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>At the moment if anyone has any questions you guys can contact us on our emails.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a>{{ site.email }}</a></li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
